# MySQL Database Configuration
DB_HOST=72.60.86.130
DB_USER=u884620139_nekouseraz
DB_PASSWORD=T6iwsgH+^
DB_NAME=u884620139_posneko
DB_PORT=3306

# Gemini API Configuration
GEMINI_API_KEY=AIzaSyDmNIgLrOsF7pYN6sardwkiySdPQ3J9yhs

# Server Configuration
PORT=3000
